<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
		<add key="Roslyn Nightlies" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
		<add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />
		<add key="VS Editor Legacy" value="https://www.myget.org/F/vs-editor/api/v3/index.json" />
		<add key="NuGetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
		<add key="VSTest" value="https://dotnet.myget.org/F/vstest/" />
		<add key="Templating" value="https://dotnet.myget.org/F/templating/" />
		<add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
		<add key="Azure AppService" value="https://www.myget.org/F/azure-appservice/api/v3/index.json" />
		<add key="MSBuild" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" />
		<add key="nuget-build" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />

		<!-- Consolidated feed for editor package dependencies -->
		<add key="VS-Platform" value="https://pkgs.dev.azure.com/devdiv/DevDiv/_packaging/VS-Platform/nuget/v3/index.json" />

		<!-- From md-addins -->
		<add key="VSIDE" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/VSIDE-RealSigned-Release/nuget/v3/index.json" protocolVersion="3" />
		<add key="XamarinFormsInternal" value="https://www.myget.org/F/xamarinforms-ci/api/v2" protocolVersion="2" />
		<add key="XamarinInteractive" value="https://devdiv.pkgs.visualstudio.com/_packaging/Xamarin.Interactive/nuget/v3/index.json" protocolVersion="3" />
		<add key="DevDiv-Xamarin" value="https://devdiv.pkgs.visualstudio.com/_packaging/Xamarin/nuget/v3/index.json" protocolVersion="3" />
		<add key="mirepoix" value="https://www.myget.org/F/mirepoix/api/v3/index.json"/>
		<add key="aspnet-aspnetcore" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json" />
		<add key="vs-impl-internal" value="https://devdiv.pkgs.visualstudio.com/_packaging/vs-impl/nuget/v3/index.json" />
	</packageSources>
</configuration>